
.main-bg {
    background-image: url('../img/main-bg.svg');
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem  var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-grey-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    height: 6.5rem;
}

.full-width {
    width: 100%;
}